 body { color: rgb(43, 58, 58);
background-color: rgb(231, 231, 238);
 }
 

.btn-grid Button  {
    display: center;
position: relative;
margin-top: 10px;
color: rgb(50, 5, 95);
background-color: rgb(231, 221, 238);
}


.controls button { color: rgb(18, 34, 126);
background-color: beige;
}